.login-form {
  display: flex;
  flex-direction: column;
}

.justify-content-md-center {
  padding: 2em;
  display: flex;
  align-items: center;
}

.login-form-base {
  width: 32em;
}

center h4 {
  margin: 0 1em 1.5em 1em;
}
